$colorMain: #bd16ea;

$colorWhite: #fff;
$colorGray: #cccccc;
$colorRed: #ff0505;
$colorGreen: #07a01b;
$colorLine: #dbd8d8;
$colorBgMain: #f9f9f9;
$colorBgMainHoverFocus: #f2f2f2;
$colorText: #333333;