@import "../../../assets/scss/variables.scss";

.selectedWrap{
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    justify-content: space-between;

    &:hover {
        background-color: #ffffff;
    }

    .selectedContent{
        padding-right: 15px;

        .selectedTooltip{
            margin-left: 5px;
            margin-top: 6px;
            color: 	rgb(167, 165, 165);
        }

        .selectedName {
            font-weight: 600;
            color: #3c3d3d;
        }
        
        .activeRole {
            color: $colorMain;
        }

        .selectedName:hover{
            color: $colorMain;
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .track{
        display: flex;

        .editoutlined{
            margin-right: 5px;

            .iconEdit{
                opacity: 0.7;
            }

            .iconEdit:hover{
                color: $colorMain;
                cursor: pointer;
            }
        }

        .iconDelete{
            opacity: 0.7;
        }

        .iconDelete:hover{
            color: $colorRed;
            cursor: pointer;
        }
    }

}
 
.roleItem {
    display: flex;
    justify-content: space-between;

    .actionWrap {
        display: flex;

        .iconEdit {
            margin-right: 12px;
        }   
    }
}
    
.actionWrap {
    display: flex;
    margin-top: 2px;
    margin-right: 6px;

    .iconEdit {
        margin-right: 12px;
    }   
}