@import "../../assets/scss/variables";

.pageWrap{
    display: grid;
    height: calc(100vh - 135px);
    background-color: $colorWhite;
    grid-template-columns: 25% 75%;
    --tw-shadow: 0 4px 6px 1px #9494941a, 0 2px 4px 1px rgba(90, 90, 90, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    border-radius: 10px;
    border: 1px solid #e9e9e9;    
    .permissionWrap{
        margin: 20px 0;
        border-right: 1px solid $colorLine;

        .permissionTitle{
            margin: 0 20px;

           .rolesName{
               display: flex;
               padding-bottom: 16px;
               align-items: center;
               justify-content: space-between;
               border-bottom: 1px solid $colorLine;

                p{
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                }

                .modalPermiss{
                    display: flex;
                    cursor: pointer;
                    margin-top: 2px;
                    color: $colorMain;
                    align-items: center;

                    .iconAdd {
                        font-size: 10px;
                        margin-right: 4px;
                        color: #2371e0;
                    }

                    .contentadd {
                        font-size: 14px;
                        font-weight: 500;
                        color: #2371e0;
                    }
                }
            }
        }
        .permissionContent{
            overflow: auto;
            margin: 20px 20px;
            max-height: calc(100px - -550px);
        }

        .permissionNoContent{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 305px);
        }
    }
    .permissionMain{
        .mainWrap{
            margin: 25px 0;

            .mainTitle{
                margin: 0 20px;
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid $colorLine;
                padding-bottom: 15px;

                p{
                    margin-top: -4px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .mainContent{
                margin: 10px 20px;
                padding-bottom: 5px;
                height: calc(100vh - 300px);

                .headerPermission{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .roleName{
                        align-items: center;
                        align-content: center;
                    }

                    .strong{
                        font-weight: 600;
                    }

                    .noneData{
                        margin-left: 2px;
                        font-style: italic;
                        color: rgb(158, 158, 157);
                    }
                }
            }
        }

        .container{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconContainer{
                .iconSetting{
                    display: flex;
                    justify-content: center;
                    margin-right: 8px;
                    margin-bottom: 20px;
                    font-size: 100px;
                    color: $colorMain;
                    transition: color 0.3s;
                }

                .iconSetting:hover{
                        color: #7c7c7c;
                }

                p{ 
                    text-align: center;
                    margin-top: 10px;
                    font-size: 16px;
                    color: $colorMain;
                }
            }
        }

        .permissionLoading{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 365px);
        }
    }
}

.btnWrap{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (max-width: 766px) {
    .pageWrap{
        display: block;
        height: calc(100vh - 100px);
    > * {
        height: 100%;
    }
        .permissionWrap{
            height: auto;
            margin: 0;
            .permissionTitle {
                margin: 0 10px;
                margin-bottom: 10px !important;

            }
            .permissionContent{
                margin: 0px 10px;
                height: auto;
                overflow: auto;
            }
        }
        .permissionMain {
            height: calc(100vh - 230px);
            .mainWrap{
                margin: 0;
                .mainTitle{
                    display: none;
                }
                .mainContent{
                    margin: 0px 10px;
                    .headerPermission{
                        margin-bottom: 5px;
                        
                        
                        .roleName{
                            display: none !important;
                        }
                        .strong{
                            display: none;
                        }
                    }
                }
            }
            .container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .permissionContent{
            margin: 0px 10px !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .pageWrap{
        grid-template-columns: 35% 65%;
    }
    .contentadd{
        display: none;
    }
    .permissionContent{
        margin: 10px !important;
    }
}
